.c1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 30px;
    font-variant: small-caps;
    font-weight: bolder;
}
.c2{
    font-family: Arial, Helvetica, sans-serif
    font-style: normal;
    font-size: xx-large;
    font-variant: normal;
    font-weight: bold;
}
.c3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    font-style: oblique;
    font-size: 30px;
    font-variant: lighter;
    font-weight: bolder;
}